.board {
  margin: 1em;
  width: 28em;
  min-width: 28em;
  padding: 1em;
}

.cell-label {
  text-align: center;
  vertical-align: middle;
}

.cell-white {
  background-color: beige;
  border: 1px seagreen solid;
  text-align: center;
  vertical-align: middle;
  width: 3em;
  height: 3em;
}

.cell-black {
  background-color: seagreen;
  border: 1px seagreen solid;
  text-align: center;
  vertical-align: middle;
  width: 3em;
  height: 3em;
}
